@use "./palette";
@use "./typography";
@use "./buttons";

legend {
	font-size: typography.$lg-form-title-size;
	color: palette.$dark-text;
}

label {
	font-size: typography.$lg-form-field-size;
	color: palette.$dark-text;
}

.account-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 125px;
	&--btns {
		display: flex;
		margin-right: 330px;
	}
}

.form-container {
	border: 2px solid palette.$dark-teal-text;
	border-radius: 5px;
	padding: 20px;
	width: 500px;
	&__input {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
	&__input-bar {
		font-size: typography.$lg-form-field-size;
		border: none;
		border-radius: 5px;
	}
}

#submitLogin {
	display: initial;
}
#submitSignup {
	display: none;
}
