@use "./palette";
@use "./typography";

//MIXINS//
@mixin hover {
	cursor: pointer;
}

.btn {
	border: none;
	border-radius: 5px;
	padding: 10px;

	//NAVIGATION//
	&--nav {
		background-color: palette.$nav-btn;
		height: 50px;
		font-size: typography.$lg-btn-size;
		color: palette.$dark-text;
	}
	&--nav:hover {
		background-color: palette.$nav-btn-hover;
		@include hover;
	}

	//SEARCH BAR//
	&--search {
		width: 60px;
		background-color: palette.$search-btn;
	}
	&--search:hover {
		background-color: palette.$search-btn-hover;
		@include hover;
	}
	&--clear {
		font-size: typography.$lg-btn-size;
		background-color: palette.$search-btn;
		width: 80px;
	}
}
