//SECTIONS//

$page-body: #b5e4e2;
$nav-bar: #519d99;
$bookmark: #ffb271;

//BUTTONS//
$nav-btn: #519d99;
$nav-btn-hover: #438581;
$teal-btn: #6fa3a0;
$teal-btn-hover: #659693;

//TEXT//
$dark-text: #071212;
$dark-teal-text: #3b8883;
$teal-text: #519d99;
$dark-faded-teal-text: #607b7a;
$orange-text: #d89534;
$light-faded-orange-text: #ba935a;

//HIGHLIGHTING JP WORD IN SENTENCE//
.dark-teal-col {
	color: $dark-teal-text;
}
//HIGHLIGHTING ENG WORD IN SENTENCE//
.light-faded-orange-col {
	color: $light-faded-orange-text;
}
//HIGHLIGHTING WORD INFO//
.dark-col {
	color: $dark-text;
}
