//DESKTOP//

//PRIMARY FONT SIZES//
$lg-primary-header-size: 30px;
$lg-secondary-header-size: 25px;
$lg-btn-size: 24px;
$lg-seach-text-size: 25px;
$lg-form-title-size: 35px;

//SECONDARY FONT SIZES//
$lg-search-count-size: 20px;
$lg-form-field-size: 25px;

//WORD FONT SIZES//
$lg-primary-word-size: 30px;
$lg-secondary-word-size: 24px;
$lg-small-roma-size: 16px;
$lg-sentence-size: 18px;
$lg-subtitle-size: 14px;

//FONT-FAMILY//
p,
div,
button,
input,
select,
legend,
label {
	font-family: "Afacad";
}
