//DESKTOP//

//PRIMARY FONTS//
$lg-primary-header-size: 30px;
$lg-secondary-header-size: 25px;
$lg-btn-size: 19.5px;
$lg-seach-text-size: 25px;

//SECONDARY FONTS//
$lg-search-count-size: 20px;

//WORD FONTS//
$lg-primary-word-size: 30px;
$lg-secondary-word-size: 24px;
$lg-small-roma-size: 16px;
$lg-sentence-size: 18px;
$lg-subtitle-size: 13.5px;
