@use "./styleSheets/palette";
@use "./styleSheets/typography";
@use "./styleSheets/buttons";

//BODY//
body {
	background-color: palette.$page-body;
}

//NAVIGATION BAR//
nav {
	background-color: palette.$nav-bar;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a {
	text-decoration: none;
}
.site-title {
	margin-left: 35px;
	font-size: typography.$lg-header-size;
}
.nav-links {
	margin-right: 35px;
	display: flex;
	gap: 30px;
}

//LOOK UP//
#lookUp {
	margin-top: 125px;
	margin-left: 55px;
	display: flex;
	justify-content: space-around;
}
//SEARCH BAR//
#search {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.search-container {
	display: flex;
	&__bar {
		font-size: typography.$lg-seach-text-size;
		border: none;
		border-radius: 5px;
		height: 50px;
		width: 350px;
		padding-left: 15px;
	}
}
#resultInfo {
	font-size: typography.$lg-search-count-size;
	padding-left: 10px;
}
//FILTER//
#filter {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.filter-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.dropdown-container {
	display: flex;
	gap: 10px;
	&__dropdown {
		border: none;
		background-color: white;
	}
}
