@use "./styleSheets/palette";
@use "./styleSheets/typography";
@use "./styleSheets/buttons";
@use "./styleSheets/accountPage";

//BODY//
body {
	background-color: palette.$page-body;
}

//TITLES//
.title {
	&--primary {
		font-size: typography.$lg-primary-header-size;
	}
	&--logo {
		margin-left: 35px;
		color: palette.$dark-text;
	}
	&--secondary {
		font-size: typography.$lg-secondary-header-size;
	}
	&--teal {
		color: palette.$teal-text;
	}
}

//NAVIGATION BAR//
nav {
	background-color: palette.$nav-bar;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a {
	text-decoration: none;
}
.nav-links {
	margin-right: 35px;
	display: flex;
	gap: 30px;
}

//USER//
#userAccount {
	position: relative;
	top: 85px;
	left: 35px;
	font-size: typography.$lg-seach-text-size;
	color: palette.$dark-text;
}

//LOOK UP//
#lookUp {
	margin-top: 125px;
	margin-left: 55px;
	display: flex;
	justify-content: space-evenly;
}
//SEARCH BAR//
#search {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 35px;
}
.search-container {
	display: flex;
	&__bar {
		font-size: typography.$lg-seach-text-size;
		border: none;
		border-radius: 5px;
		height: 50px;
		width: 350px;
		padding-left: 15px;
	}
}
.material-icons {
	font-size: 30px;
}
#resultInfo {
	font-size: typography.$lg-search-count-size;
	padding-left: 10px;
	color: palette.$dark-faded-teal-text;
}
//FILTER//
#filter {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.filter-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.dropdown-container {
	display: flex;
	gap: 10px;
	&__label {
		padding-top: 15px;
	}
	&__dropdown {
		border: none;
		border-radius: 5px;
		background-color: white;
		width: 250px;
	}
}

//RESULTS//
#results {
	margin-top: 45px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.result-container {
	background: url("../assets/paper-5615944.png");
	width: 560px;
	height: 450px;
}
//WORD CONTAINERS//
.word-container {
	position: relative;
	top: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__main-word {
		font-size: typography.$lg-primary-word-size;
		margin-top: 0px;
		margin-bottom: 5px;
		color: palette.$dark-teal-text;
	}
	&__roma-meaning {
		display: flex;
		gap: 75px;
	}
	&__meaning {
		font-size: typography.$lg-secondary-word-size;
		color: palette.$orange-text;
	}
}
.bookmark {
	width: 40px;
	height: 40px;
	background-color: palette.$bookmark;
	border-radius: 5px;
	position: relative;
	left: 75px;
	top: 40px;
	&--icon {
		color: white;
		padding: 5px;
	}
}
.stacked-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.word-info-container {
	display: flex;
	gap: 100px;
	&__text {
		font-size: typography.$lg-subtitle-size;
		color: palette.$dark-faded-teal-text;
	}
}
//SECTIONS//
.hiragana {
	font-size: typography.$lg-secondary-word-size;
	margin-bottom: 5px;
	color: palette.$dark-text;
}
.romanji {
	color: palette.$dark-faded-teal-text;
	&--small {
		font-size: typography.$lg-small-roma-size;
		margin-top: 0px;
	}
	&--big {
		font-size: typography.$lg-secondary-word-size;
	}
}
.sentence {
	font-size: typography.$lg-sentence-size;
	margin-top: 5px;
	margin-bottom: 5px;
	&--jp {
		color: palette.$dark-text;
	}
	&--eng {
		color: palette.$dark-faded-teal-text;
	}
}

//INFO PAGE//
#infoSection {
	display: flex;
	flex-direction: column;
	margin-top: 125px;
	align-items: center;
}
.info-para {
	width: 600px;
	text-align: center;
	font-size: 20px;
}
